@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nate's Website";
}


<!--my prefferred name-->
<h2>Nate Johnson</h2>

<!--a picture of me-->
<img src="img/cliff.JPG" />
<!--a paragraph about what I hope to get out of IS 413-->
<p class="myClass">I'm excited to be taking IS 413, and I hope to get a lot out of this experience. I want to learn how to write web apps in the ASP.NET framework. By writing these apps, I hope to get more practice working with strongly typed programming languages and solving new problems.</p>

<!--jobs I'm interested in pursuing-->
<p>Top 3 Jobs:</p>
<ul>
    <li>Volume Environment Designer</li>
    <li>Software Developer</li>
    <li>Data Analyst</li>
</ul>




